ACTION=="add", SUBSYSTEM=="video4linux", ATTR{name}=="UGREEN 15389: UGREEN 15389", ATTR{index}=="0", ATTRS{idVendor}=="2b89", ATTRS{idProduct}=="5389", TAG+="systemd", ENV{SYSTEMD_WANTS}+="vidcapture-keepalive@%k.service", SYMLINK+="vidcapture-ugreen"
